<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--General for reading context params, not presently needed-->
    <listener>
        <listener-class>
            dk.statsbiblioteket.sbutil.webservices.configuration.ConfigContextListener
        </listener-class>
    </listener>


    <!--For the logback config-->
    <listener>
        <listener-class>dk.statsbiblioteket.newspaper.processmonitor.backend.ExternalConfigLoaderContextListener
        </listener-class>
    </listener>
    <context-param>
        <description>The config dir where logback.xml is read from. Regarded as absolute if starting with /, otherwise
            relative from the WEB-INF folder of the webapp
        </description>
        <param-name>CONFIGDIR</param-name>
        <param-value>WEB-INF/</param-value>
    </context-param>


    <!--Make the request scope work-->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:SampleApplicationContext.xml</param-value>
    </context-param>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Batches</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>dk.statsbiblioteket.newspaper.processmonitor.backend.ProcessMonitor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Batches</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

</web-app>
